.container{ 
display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    height: 150px;
    width: 850px;
    margin: 20px;
    align-items: center;
}
.container div {
    background-color: rgb(99, 109, 201);
    width: 300px;
    text-align: center;
    line-height: 8px;
    margin: 15px;
}
.cuadrito{ 
    width: 290px;
    height: 150px;
}
.titulo{
    color: blue;
}
body{
    background-image: url(https://img.freepik.com/vector-premium/enfermera-medico-estan-midiendo-altura-pacientes-hospital-ilustracion-personaje-dibujos-animados-vector-plano_77116-757.jpg?w=2000);
}
main{ 
    color: rgb(13, 13, 15);
    font-weight: bold;
}
.offset {
    color: blue;
    font-weight: bold;
    margin: 20px;
}  
button{
    background-color:rgb(99, 109, 201);
    font-weight: 100;
    font-size: 30px;
    border-color: rgb(72, 72, 134);
    border-radius: 50px;
    width: 200px;
}
    
    
    
    
    
    
    


    


  
    
